/*  font families 
        font-family: 'Unica One', cursive; - [captitalized navigation lettering]
        font-family: 'Bungee Shade', cursive; - [main heading lettering]
        font-family: 'Poiret One', cursive; - [capitalized content lettering]
    color scheme
        rgba(167, 18, 154, 0.424) - app background [top]
        rgba(43, 185, 241, 0.3) - app background [bottom]
        rgba(0, 180, 155, 0.6) - section banner background
        orange - section audio button
        #fff - text color
*/

/* reset css */
* {
    margin: 0;
    padding: 0;
}
/* app wrapper */
.app {
    background-image: linear-gradient(rgba(167, 18, 154, 0.424), rgba(43, 185, 241, 0.3));
    height: 100vh;
}
/* app background */
body {
    background-image: url('../img/beach__bk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

/* app layout [top - bottom] */
/* app header */
header.header {
    color: #fff;
    font-family: 'Unica One', cursive;
    letter-spacing: 2px;
}
/* app section banner */
section.banner {
    background-color: rgba(0, 180, 155, 0.6);
    color: #fff;
    padding: 10px 12px;
}
section.banner h1 {
    font-size: 22px;
    padding: 5px;
    font-family: 'Bungee Shade', cursive;
}
section.banner h4 {
    font-size: 12px;
    font-family: 'Poiret One', cursive;
    padding: 10px 0px;
}
/* app section audio */
section.audio {
    margin: 25px auto;
}
section.audio h3 {
    color: #fff;
    padding: 12px 0px;
}
section.audio button {
    background-color: rgb(224, 131, 8);
    border: 3px solid #fff;
    border-radius: 10px 10px;
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
    opacity: 0.6;
    transition-duration: 1200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
section.audio button:hover {
    transform: scale(1.1);
    text-decoration: underline;
    opacity: 1;
}
section.audio button i {
    padding: 5px;
}
section.audio audio {
    background-color:  orange;
}
/* app footer */
footer.footer {
    color: #fff;
    font-family: 'Unica One', cursive;
    /* margin-bottom: 10px; */
    
}
footer.footer a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    transition-duration: 700ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    
    
}
footer.footer a:hover {
    color: orange;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: underline;
    text-shadow: 2px 1px #fff;
}

/* app container props */
/* app flex props */
.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex__item {
    margin: 10px auto;
    padding: 0px;
}

/* soundcloud iframe */
iframe {
    height: 55px;
    max-height: 100px;
    width: 100%;
    max-width: 500px;
}

iframe span {
    visibility: hidden;
    display: none;
}


@media screen and (min-width: 960px) {
/* edit media query once mobile view is complete */
    header.header {
        height: 15vh;
    }
    section.banner {
        align-items: center;
        height: 35vh;
        display: flex;
        justify-content: center;
    }
    section.audio {
        height: 35vh;
    }
    .flex {
        flex-direction: row;
        padding: 25px 0px;
    }
    iframe {
        height: 100px;
        height: 100px;
        width: 500px;
        max-width: 550px;
    }


}


























